.display{
    border: 2px solid black;
    position: absolute;
    top: 7vh;
    width: 275px;
    height: 228px;
    z-index: 5;
}
  .music-bg img {
    width: 100%;
    height: 150px;
    filter: blur(2px);
  }
  
  .music-heading {
    position: relative;
    top: -151px;
   
  }
  .button-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button-controls button{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    border: 2px solid black;
    background-color: #fffbfbc7;
    border-radius: 50%;
    cursor: pointer;
  }
  .music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .music-controls input[type="range"] {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .music-controls input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
  }
  
  .music-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
  .timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  
  .time-start,
  .time-end {
    font-size: 12px;
    color: #333;
  }
  
  .music-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .music-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .trace-line {
    height: 5px;
    width: 100%;
    background-color: #333;
  }