*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 304px;
    height: 71%;
    border-radius: 40px;
    position: absolute;
    right: 50vw;
    top: 9%;
    background-color: #6e6f72;
}